{% extends "bootstrap/base.html" %}

{% block title %}What's for dinner?{% endblock %}

{% block content %}

<div class="container">

	{% if food %}
 	  <div class="alert alert-success">
  	  <h1>I want {{ food }}!</h1>
	{% else %}
	  <div class="alert alert-info">
	  <h1>Anything is fine!</h1>
	{% endif %}
	</div>
	{% if list %}
	<p>Now we'll loop through the list</p>
		<ul>
		{% for n in list %}
			<li><a href="/dinner1/{{n}}">{{n}}</li>
		{% endfor %}
		</ul>
	{% endif %}
</div>

{% endblock %}